<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appender -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <!-- logger -->
    <logger name="org">
        <priority value="WARN" />
    </logger>
    <logger name="com">
        <priority value="WARN" />
    </logger>
    <logger name="net">
        <priority value="WARN" />
    </logger>

    <logger name="ss_scs">
        <priority value="INFO" />
    </logger>

    <!-- Root -->
    <root>
        <priority value ="INFO" />
        <appender-ref ref="STDOUT" />
    </root>
</log4j:configuration>
